section {
    border: 5px solid #ccc;
    width: 250px;
    height: 250px;
    box-sizing: border-box;
    position: relative;
}

.container {
    background: #09f;
    width: 100px;
    height: 100px;
    position: fixed;
    z-index: 10;
    right: 0px;    
    


}

body {
    background: #02ffe1;
}